body {
    background-color: rgb(207, 208, 156);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1 {
    color: rgb(4, 0, 75);
    text-align: center;
}
.assign {
    display: flex;
    margin: 10px;
    padding: 10px;
    background:rgb(177, 204, 217);
}
.assign img {
    width: 300px;
}