body {
    background-color: #EAD258;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    color: #6EC5EB;
    text-align: center;
}

a {
    text-decoration: none;
    color: #EB6C59;
}

h2 {
    text-decoration: none;
    color: #EB6C59;
}

.assign {
    display: flex;
    margin: 10px;
    padding: 10px;
    background-color: #6EC5EB;
    border-radius: 20px;
}

.assign img {
    width: 300px;
    padding: 10px;
    margin: 10px;
    border: 2px dashed #EB6C59;
}